@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuotesApp</h1>
    <p>We have bunch of quotes from authors across the globe. GET INSPIRED !</p>
</div>
